/*
 * ========================================
 *  Cấu hình test cục bộ, không dùng container
 * ========================================
 */

params {
    config_profile_name        = 'Local test profile'
    config_profile_description = 'Test cục bộ tối thiểu không dùng container'
    
    // Samplesheet đầu vào.
    input       = "${projectDir}/test_data/test_samplesheet.csv"
    
    // Hệ tham chiếu.
    fasta       = "${projectDir}/test_data/ref.fa"
    
    // Tham số test.
    seq_type    = "wes"
    target_bed  = "${projectDir}/test_data/ref.fa.bed"
    
    // Bỏ qua bước nặng khi test.
    skip_deepvariant = true
    skip_multiqc     = true
}

// Tắt container cho local test.
process {
    container = null
    conda = null
}
