/*
 * ========================================
 *  Test configuration for small test dataset
 * ========================================
 */

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to verify pipeline functionality'
    
    input       = "${projectDir}/test_data/test_samplesheet.csv"
    fasta       = "${projectDir}/test_data/ref.fa"
    seq_type    = "wgs"
    outdir      = "${projectDir}/results_test"
    dv_extra_args = "--call_variants_extra_args=allow_empty_examples=true"
}
